<div class="container mx-auto p-4">
  <h1 class="text-2xl font-semibold text-center mb-4">Calculadora de IMC</h1>
  <div class="max-w-xl mx-auto flex gap-2 justify-between">
    <div class="bg-white shadow-md rounded-lg p-6  w-2/3">
      <form id="imcForm" class="space-y-4">
        <div>
          <label class="block text-gray-700 font-bold" for="peso">Peso (kg):</label>
          <input [(ngModel)]="peso" class="w-full border border-gray-300 rounded-lg px-3 py-2 mt-1 text-gray-700 focus:ring focus:ring-indigo-300 focus:border-indigo-300" type="number" step="0.01" name="peso" id="peso" required>
        </div>
        <div>
          <label class="block text-gray-700 font-bold" for="altura">Altura (cm):</label>
          <input mask="0.00" [dropSpecialCharacters]="false" [(ngModel)]="altura" class="w-full border border-gray-300 rounded-lg px-3 py-2 mt-1 text-gray-700 focus:ring focus:ring-indigo-300 focus:border-indigo-300" type="number" step="0.01" name="altura" id="altura" required>
        </div>
        <div>
          <button type="button" (click)="calcularIMC()" class="w-full bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-lg">Calcular</button>
        </div>
      </form>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6 w-2/5">
      <div class="text-center mt-4 flex flex-col" id="resultadoContainer">
        <h2 class="text-xl font-semibold" id="resultado">{{ resultado }}</h2>
        <p class="text-gray-700">Peso: <span id="pesoDigitado">{{ peso }}</span> kg</p>
        <p class="text-gray-700">Altura: <span id="alturaDigitada">{{ altura }}</span> cm</p>
        <p class="font-bold text-lg mt-2" [ngClass]="corClassificacao" id="classificacao">{{ classificacao }}</p>
      </div>
    </div>
  </div>
</div>
